.intro {
  border-bottom: 2px solid #8a2be2;
  width: 100%;
  height: auto;
  background-color: #252539;
  color: #e4e4e4;
  padding: 55px 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    h2 {
      font-size: 36px;
      color: #ffffff; /* Titre bien contrasté */
      margin: 0px 0px 25px 0px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      margin: 20px 130px;
      text-align: center;
    }
  }
}
