.intro {
  border-bottom: 2px solid #8a2be2;
  width: 100%;
  height: auto;
  background-color: #252539;
  color: #e4e4e4;
  padding: 55px 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    h2 {
      font-size: 36px;
      color: #ffffff; /* Titre bien contrasté */
      margin: 0px 0px 25px 0px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      margin: 20px 130px;
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  // Pour les tablettes
  .intro {
    padding: 30px 0;

    div {
      h2 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
        margin: 15px 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  // Pour les mobiles
  .intro {
    padding: 20px 0;

    div {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        margin: 10px 20px;
      }
    }
  }
}
