.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e2f; /* Fond sombre */
  border-bottom: 2px solid #8a2be2;

  h1 {
    margin-left: 60px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    list-style: none;

    a {
      text-decoration: none;
      color: #e4e4e4; /* Texte clair pour le contraste */
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      padding: 10px 20px;
      border-radius: 8px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        color: #ffffff; /* Blanc éclatant */
        border-bottom: 2px solid white;
        border-radius: 0;
      }

      &.active {
        font-weight: bold;
        color: #ffffff;
        background-color: #8a2be2; /* Accent pour le lien actif */
      }
    }
  }
}

.header_page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .navigation_about_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1e1e3c; /* Un fond légèrement plus clair que le background principal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    height: fit-content;
    width: auto;

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      list-style: none;
      padding: 0;

      a {
        text-decoration: none;
        font-size: 22px;
        color: #ccccff; /* Accent bleu clair */
        padding: 8px 15px;
        border-radius: 5px;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
          background-color: #2c2f4a; /* Violet accentué */
          color: #ffffff; /* Blanc */
        }

        &.active_about {
          background-color: #7b6ef6; /* Violet plus vif */
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }

  .navigation_about_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #1e1e3c; /* Un fond légèrement plus clair que le background principal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    height: auto;
    width: auto;

    ul {
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
      list-style: none;
      padding: 0;

      a {
        text-decoration: none;
        font-size: 20px;
        color: #ccccff; /* Accent bleu clair */
        padding: 8px 10px;
        border-radius: 5px;
        text-align: center;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
          transform: scale(1.2); /* Agrandit les icônes au survol */
          color: #9b84ff; /* Change la couleur au survol */
        }
      }
    }
  }
}
